/Library/build/
/Graphics/nbproject/private/
/Graphics/build/
/Graphics+/nbproject/private/
/Graphics+/build/
/Magic Squares/nbproject/private/
/Java Basics/nbproject/private/
/Java Basics/build/
/Consonants and Vowels/nbproject/private/
/Consonants and Vowels/build/
/lab1/nbproject/private/
/lab1/build/
/Jpane Option/nbproject/private/
/Jpane Option/build/
/Projectile/nbproject/private/
/Projectile/build/
/Plant Project/nbproject/private/
/Plant Project/build/
/Plant Project/dist/